exportPattern("^[[:alpha:]]+")
useDynLib("HaploTraitR", .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(igraph, graph_from_adjacency_matrix)
importFrom(igraph, components)
importFrom(ggplot2, ggplot)
importFrom(ggplot2, geom_violin)
importFrom(ggplot2, theme_minimal)
importFrom(ggplot2, theme)
importFrom(ggplot2, element_text)
importFrom(ggplot2, labs)


